<!--DETALLE DE LA LISTA-->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
      <table class="table">
        <thead>
          <tr>
            <th>
              <h3>Nombre</h3>
            </th>
            <th>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto d-flex justify-content-around">
                  <h3>Cantidad de Productos</h3>
                </div>
              </div>
            </th>
            <th>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto d-flex justify-content-around">
                  <h3>Opciones</h3>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="mt-2">
                <h5>Suavitel</h5>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto d-flex justify-content-around">
                  <div class="mt-2">
                    <h5>5</h5>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto d-flex justify-content-around">
                  <div class="iconos">
                    <a class="btn btn-danger text-center"><i class="far fa-trash-alt"></i></a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>