<!--MIS PRODUCTOS AGREGADOS-->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
      <span class="btn-lg btn-success btn-block text-center">Mis Productos Agregados</span>
    </div>
  </div>
</div>

<!--TODOS MIS PRODUCTOS-->
<div class="container">
  <div class="row">
    <div *ngFor="let producto of detalle" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <div *ngIf="producto.idProducto==uidUsuario" class=" card-body d-flex justify-content-around card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-8 col-md-10 col-lg-6 col-xl-8 card-body mx-auto d-flex justify-content-around">
                <span class="btn-lg btn-block text-center">{{ producto.nombre }}</span>
              </div>
              <div class="col-12 col-sm-6 col-md-8 col-lg-4 col-xl-6 card-body mx-auto d-flex justify-content-around">
                <span class="btn-lg btn-success btn-block text-center">$ {{ producto.precio }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
                <a *ngIf="verOtro" class="btn btn-lg btn-outline-info btn-block" routerLink="/productos/{{ producto.id }}">Ver
                  Otros {{ detalle.length - 1 }} Precios</a>
                <a *ngIf="!verOtro" class="btn btn-lg btn-outline-info btn-block" routerLink="/productos/{{ producto.id }}">Ver
                  Precio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>