.card-footer {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.agregar-lista {
    font-size: 20px;
    color: white;
    padding-bottom: 10 !important;
    padding-top: 10 !important;
}

.card {
    margin-top: 20px;
}

.espacio {
    margin-bottom: 60px;
}