<!--MIS PRODUCTOS AGREGADOS-->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
      <span class="btn-lg btn-success btn-block text-center">Mis Productos Agregados</span>
    </div>
  </div>
</div>

<!--TODOS MIS PRODUCTOS-->
<div class="container espacio">
  <div class="row">
    <div *ngFor="let producto of producto" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card-body d-flex justify-content-around card">
        <img *ngIf="producto.imagenUrl=='LOCAL'" id="imagen" style="height: auto; width: 100%; display: block;" src="../../../assets/img/compras.png"
          alt="{{ producto.nombre }}" (error)="errorImagen()">
        <img *ngIf="producto.imagenUrl!='LOCAL'" id="imagen" style="height: auto; width: 100%; display: block;" src="{{producto.imagenUrl}}"
          alt="{{ producto.nombre }}" (error)="errorImagen()">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
            <span class="btn-lg btn-block text-center">{{ producto.nombre }}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
            <span *ngIf="producto.detalle.length==0" class="btn-lg btn-success btn-block text-center">$ {{
              producto.precio }}</span>
            <span *ngIf="producto.detalle.length>0" class="btn-lg btn-success btn-block text-center">$ {{
              producto.detalle[0].precio }}</span>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
          <a *ngIf="producto.detalle.length == 2" class="btn btn-lg btn-outline-info btn-block" routerLink="/productos/{{ producto.firebaseId }}">Ver
            {{ producto.detalle.length -1}} Precio Más</a>
          <a *ngIf="producto.detalle.length > 2" class="btn btn-lg btn-outline-info btn-block" routerLink="/productos/{{ producto.firebaseId }}">Ver
            {{ producto.detalle.length -1}} Precios Más</a>
          <a *ngIf="producto.detalle.length == 1 || producto.detalle.length == 0" class="btn btn-lg btn-outline-info btn-block"
            routerLink="/productos/{{ producto.firebaseId }}">Ver
            Precio</a>
        </div>
      </div>
      <div class="card-footer bg-warning text-center">
        <div style="padding-bottom: 10px !important;padding-top: 10px !important;" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
          <span routerLink="/productos/editar/{{ producto.firebaseId }}" class="btn btn-lg btn-outline-warning btn-block agregar-lista">
            <i class="fas fa-edit"></i>&nbsp;Editar producto
          </span>
        </div>
      </div>
    </div>
  </div>
</div>