<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="jumbotron">
        <h1 class="display-3">Acerca</h1>
        <p class="lead">Página para comparar los precios de diversos articulos en diversas tiendas.</p>
        <span class="badge badge-pill badge-info">José Ricardo Hernández Arellano</span>
        &nbsp;
        <span class="badge badge-pill badge-success">Versión 1.0</span>
      </div>
    </div>
  </div>
</div>