.alert-info {
    color: #fff;
    background-color: #6CC3D5;
    border-color: #d6eef3;
}

.busqueda {
    color: firebrick;
}

.espacio {
    padding-bottom: 40px;
}

.producto {
    margin-bottom: 100px;
}

.card-footer {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.agregar-lista {
    font-size: 20px;
    color: white;
    padding-bottom: 10 !important;
    padding-top: 10 !important;
}

.card {
    margin-top: 20px;
}

img {
    height: 100px;
    width: 100px;
    display: block;
}