<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-body mx-auto d-flex justify-content-around">
      <form #formGuardar="ngForm" id="form" (ngSubmit)=onCrearProducto(formGuardar)>
        <h3>Datos del nuevo producto</h3>
        <br>
        <div class="form-group">
          <h5>Nombre</h5>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="producto.nombre" minlength="1" class="form-control"
            placeholder="Nombre" required />
        </div>
        <div class="form-group">
          <h5>Categoria</h5>
          <select type="text" id="categoria" name="categoria" [(ngModel)]="producto.categoria" class="form-control"
            placeholder="Categoria" required>
            <ng-container *ngFor="let categoria of categorias; i as index first as isFirst">
              <option *ngIf="isFirst" selected>{{ categoriaPrimera }}</option>
              <option *ngIf="!isFirst">{{ categoria }}</option>
            </ng-container>
          </select>
        </div>
        <div class="form-group">
          <h5>Precio</h5>
          <div class="form-group">
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="number" id="precio" name="precio" [(ngModel)]="producto.precio" min="1" class="form-control"
                  placeholder="Precio" required />
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <h5>Selecciona una opción.</h5>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="" (change)="urlImagen()">
            <label class="custom-control-label" for="customRadio1">Mediante URL.</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" (change)="urlImagen()">
            <label class="custom-control-label" for="customRadio2">Mediante archivo local.</label>
          </div>
        </div>
        <br>
        <div *ngIf="porURL" class="form-group">
          <h5>URL de la imagen</h5>
          <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">URL</span>
                  </div>
                  <input type="url" id="imagenUrl" name="imagenUrl" [(ngModel)]="producto.imagenUrl" minlength="1"
                    class="form-control" placeholder="URL de la imagen" (keyup)="onChangeUrl($event)" />
                </div>
              </div>
            </div>
            <div *ngIf="url!=''" class="card-body">
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" (click)="borrarImagenUrl()">&times;</span>
              </button>
              <img id="imagen" [src]="url" alt="Vista previa"
                (error)="errorUrl()">
            </div>
          </div>
        </div>
        <h5 *ngIf="porArchivo">Subir desde archivo la imagen</h5>
        <div *ngIf="porArchivo" class="card border-success mb-3" style="max-width: 20rem;">
          <div class="card-header">
            <div class="form-group">
              <input type="file" id="InputFile" aria-describedby="fileHelp" accept="image/*" (change)="onSelectFile($event)">
              <small id="fileHelp" class="form-text text-muted">Sube una imagen que no exceda de 5 MB.</small>
            </div>
          </div>
          <div *ngIf="url!=''" class="card-body">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true" (click)="borrarImagen()">&times;</span>
            </button>
            <img id="imagen" [src]="url" alt="Vista previa" (error)="errorArchivo()">
          </div>
        </div>
        <br>
        <div class="form-group">
          <h5>Tienda</h5>
          <select type="text" id="tienda" name="tienda" [(ngModel)]="producto.tienda" class="form-control" placeholder="Tienda"
            required>
            <option selected>Aurrera</option>
            <option>Soriana</option>
            <option>La Comer</option>
            <option>Walmart</option>
            <option>Oxxo</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-block btn-outline-success"><i class="fas fa-save"></i>&nbsp;Guardar
            producto</button>
        </div>
      </form>
    </div>
  </div>
</div>