.producto {
    margin-bottom: 100px;
}

.agregar-lista {
    font-size: 20px;
    color: white;
    padding-bottom: 10 !important;
    padding-top: 10 !important;
}

.agregar-lista-detalle {
    font-size: 20px;
    padding-bottom: 10 !important;
    padding-top: 10 !important;
}

img {
    height: 100px;
    width: auto;
    display: block;
}

.precios-titulo {
    font-size: 27px;
    color: #04519b;
}