<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <!-- Login -->
      <header class="masthead text-white text-center">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 login-form-1">
              <div class="form-group" style="color:white">
                <div class="card-body d-flex justify-content-around">
                  <span style="font-size: 200px; color: Dodgerblue;">
                    <i class="fas fa-user-circle img-fluid mb-5 d-block mx-auto"></i>
                  </span>
                </div>
                <h3>Iniciar Sesión</h3>
                <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 card-body mx-auto d-flex justify-content-around">
                  <a class="btn btn-lg btn-google btn-danger btn-block" (click)="logInGoogle()"><i class="fa fa-google"></i>&nbsp;
                    Iniciar
                    con Google</a>
                </div>
                <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 card-body mx-auto d-flex justify-content-around">
                  <a class="btn btn-lg btn-facebook btn-info btn-block" (click)="logInFacebook()"><i class="fa fa-facebook"></i>&nbsp;
                    Iniciar
                    con Facebook</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>